<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Endescender-cy</key>
  <string>E_ndescender-cy.glif</string>
  <key>Zhedescender-cy</key>
  <string>Z_hedescender-cy.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.tf</key>
  <string>four.tf.glif</string>
  <key>four.tosf</key>
  <string>four.tosf.glif</string>
  <key>one.tosf</key>
  <string>one.tosf.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
