<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Endescender-cy</key>
  <string>E_ndescender-cy.glif</string>
  <key>Ii-cy</key>
  <string>I_i-cy.glif</string>
  <key>Iu-cy</key>
  <string>I_u-cy.glif</string>
  <key>Zhedescender-cy</key>
  <string>Z_hedescender-cy.glif</string>
  <key>acutecomb.loclVIET</key>
  <string>acutecomb.loclV_I_E_T_.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cheabkhasian-cy</key>
  <string>cheabkhasian-cy.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.osf</key>
  <string>four.osf.glif</string>
  <key>ia-cy</key>
  <string>ia-cy.glif</string>
  <key>ii-cy</key>
  <string>ii-cy.glif</string>
  <key>iu-cy</key>
  <string>iu-cy.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.osf</key>
  <string>one.osf.glif</string>
  <key>peso</key>
  <string>peso.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>won</key>
  <string>won.glif</string>
</dict>
</plist>
