<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Endescender-cy</key>
  <string>E_ndescender-cy.glif</string>
  <key>Zhedescender-cy</key>
  <string>Z_hedescender-cy.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.osf</key>
  <string>four.osf.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.osf</key>
  <string>one.osf.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
</dict>
</plist>
