<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>Becyr</key>
  <string>B_ecyr.glif</string>
  <key>Cheabkhcyr</key>
  <string>C_heabkhcyr.glif</string>
  <key>Checyr</key>
  <string>C_hecyr.glif</string>
  <key>Chetailcyr</key>
  <string>C_hetailcyr.glif</string>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>Djecyr</key>
  <string>D_jecyr.glif</string>
  <key>Dzeabkhcyr</key>
  <string>D_zeabkhcyr.glif</string>
  <key>Dzhecyr</key>
  <string>D_zhecyr.glif</string>
  <key>Efcyr</key>
  <string>E_fcyr.glif</string>
  <key>Efcyr.loclBGR</key>
  <string>E_fcyr.loclB_G_R_.glif</string>
  <key>Elcyr</key>
  <string>E_lcyr.glif</string>
  <key>Elhookcyr</key>
  <string>E_lhookcyr.glif</string>
  <key>Engecyr</key>
  <string>E_ngecyr.glif</string>
  <key>Entailcyr</key>
  <string>E_ntailcyr.glif</string>
  <key>Gecyr</key>
  <string>G_ecyr.glif</string>
  <key>Gehookcyr</key>
  <string>G_ehookcyr.glif</string>
  <key>Gehookstrokecyr</key>
  <string>G_ehookstrokecyr.glif</string>
  <key>Gestrokecyr</key>
  <string>G_estrokecyr.glif</string>
  <key>Geupcyr</key>
  <string>G_eupcyr.glif</string>
  <key>Haabkhcyr</key>
  <string>H_aabkhcyr.glif</string>
  <key>Hacyr</key>
  <string>H_acyr.glif</string>
  <key>Hahookcyr</key>
  <string>H_ahookcyr.glif</string>
  <key>Hardcyr</key>
  <string>H_ardcyr.glif</string>
  <key>Icyr</key>
  <string>I_cyr.glif</string>
  <key>Izhitsacyr</key>
  <string>I_zhitsacyr.glif</string>
  <key>Kabashkcyr</key>
  <string>K_abashkcyr.glif</string>
  <key>Kacyr</key>
  <string>K_acyr.glif</string>
  <key>Kahookcyr</key>
  <string>K_ahookcyr.glif</string>
  <key>Katailcyr</key>
  <string>K_atailcyr.glif</string>
  <key>Kaverticalstrokecyr</key>
  <string>K_averticalstrokecyr.glif</string>
  <key>Ljecyr</key>
  <string>L_jecyr.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Njecyr</key>
  <string>N_jecyr.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>Pecyr</key>
  <string>P_ecyr.glif</string>
  <key>Reversedzecyr</key>
  <string>R_eversedzecyr.glif</string>
  <key>Schwacyr</key>
  <string>S_chwacyr.glif</string>
  <key>Semisoftcyr</key>
  <string>S_emisoftcyr.glif</string>
  <key>Shhacyr</key>
  <string>S_hhacyr.glif</string>
  <key>Softcyr</key>
  <string>S_oftcyr.glif</string>
  <key>Tsecyr</key>
  <string>T_secyr.glif</string>
  <key>Tshecyr</key>
  <string>T_shecyr.glif</string>
  <key>Ucyr</key>
  <string>U_cyr.glif</string>
  <key>Wecyr</key>
  <string>W_ecyr.glif</string>
  <key>Xatailcyr</key>
  <string>X_atailcyr.glif</string>
  <key>Yacyr</key>
  <string>Y_acyr.glif</string>
  <key>Yatcyr</key>
  <string>Y_atcyr.glif</string>
  <key>Ylongcyr</key>
  <string>Y_longcyr.glif</string>
  <key>Yucyr</key>
  <string>Y_ucyr.glif</string>
  <key>Yusbigcyr</key>
  <string>Y_usbigcyr.glif</string>
  <key>Zecyr</key>
  <string>Z_ecyr.glif</string>
  <key>Zhecyr</key>
  <string>Z_hecyr.glif</string>
  <key>Zhetailcyr</key>
  <string>Z_hetailcyr.glif</string>
  <key>acutecomb.loclVIET</key>
  <string>acutecomb.loclV_I_E_T_.glif</string>
  <key>becyr</key>
  <string>becyr.glif</string>
  <key>becyr.loclSRB</key>
  <string>becyr.loclS_R_B_.glif</string>
  <key>cheabkhcyr</key>
  <string>cheabkhcyr.glif</string>
  <key>checyr</key>
  <string>checyr.glif</string>
  <key>chekhakascyr</key>
  <string>chekhakascyr.glif</string>
  <key>decyr</key>
  <string>decyr.glif</string>
  <key>djecyr</key>
  <string>djecyr.glif</string>
  <key>dzeabkhcyr</key>
  <string>dzeabkhcyr.glif</string>
  <key>efcyr</key>
  <string>efcyr.glif</string>
  <key>elcyr</key>
  <string>elcyr.glif</string>
  <key>engecyr</key>
  <string>engecyr.glif</string>
  <key>enhookleftcyr</key>
  <string>enhookleftcyr.glif</string>
  <key>ereversedcyr</key>
  <string>ereversedcyr.glif</string>
  <key>estailcyr</key>
  <string>estailcyr.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.osf</key>
  <string>five.osf.glif</string>
  <key>gecyr</key>
  <string>gecyr.glif</string>
  <key>gecyr.loclBGR</key>
  <string>gecyr.loclB_G_R_.glif</string>
  <key>gehookcyr</key>
  <string>gehookcyr.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>haabkhcyr</key>
  <string>haabkhcyr.glif</string>
  <key>hahookcyr</key>
  <string>hahookcyr.glif</string>
  <key>hardcyr</key>
  <string>hardcyr.glif</string>
  <key>hardcyr.loclBGR</key>
  <string>hardcyr.loclB_G_R_.glif</string>
  <key>icyr</key>
  <string>icyr.glif</string>
  <key>ishortcyr</key>
  <string>ishortcyr.glif</string>
  <key>ishortsharptailcyr</key>
  <string>ishortsharptailcyr.glif</string>
  <key>izhitsacyr</key>
  <string>izhitsacyr.glif</string>
  <key>kabashkcyr</key>
  <string>kabashkcyr.glif</string>
  <key>kacyr</key>
  <string>kacyr.glif</string>
  <key>kacyr.loclBGR</key>
  <string>kacyr.loclB_G_R_.glif</string>
  <key>kahookcyr</key>
  <string>kahookcyr.glif</string>
  <key>kastrokecyr</key>
  <string>kastrokecyr.glif</string>
  <key>kaverticalstrokecyr</key>
  <string>kaverticalstrokecyr.glif</string>
  <key>ljecyr</key>
  <string>ljecyr.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>njecyr</key>
  <string>njecyr.glif</string>
  <key>obarcyr</key>
  <string>obarcyr.glif</string>
  <key>pecyr</key>
  <string>pecyr.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>reversedzecyr</key>
  <string>reversedzecyr.glif</string>
  <key>ringcomb_acutecomb</key>
  <string>ringcomb_acutecomb.glif</string>
  <key>semisoftcyr</key>
  <string>semisoftcyr.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.osf</key>
  <string>seven.osf.glif</string>
  <key>shacyr.loclBGR</key>
  <string>shacyr.loclB_G_R_.glif</string>
  <key>shchacyr</key>
  <string>shchacyr.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>softcyr</key>
  <string>softcyr.glif</string>
  <key>softcyr.loclBGR</key>
  <string>softcyr.loclB_G_R_.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>tsecyr</key>
  <string>tsecyr.glif</string>
  <key>ustraightcyr</key>
  <string>ustraightcyr.glif</string>
  <key>vecyr</key>
  <string>vecyr.glif</string>
  <key>vecyr.loclBGR</key>
  <string>vecyr.loclB_G_R_.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>wecyr</key>
  <string>wecyr.glif</string>
  <key>yacyr</key>
  <string>yacyr.glif</string>
  <key>yatcyr</key>
  <string>yatcyr.glif</string>
  <key>ylongcyr</key>
  <string>ylongcyr.glif</string>
  <key>yucyr</key>
  <string>yucyr.glif</string>
  <key>yucyr.loclBGR</key>
  <string>yucyr.loclB_G_R_.glif</string>
  <key>yusbigcyr</key>
  <string>yusbigcyr.glif</string>
  <key>zecyr</key>
  <string>zecyr.glif</string>
  <key>zecyr.loclBGR</key>
  <string>zecyr.loclB_G_R_.glif</string>
  <key>zhecyr</key>
  <string>zhecyr.glif</string>
  <key>zhecyr.loclBGR</key>
  <string>zhecyr.loclB_G_R_.glif</string>
</dict>
</plist>
