<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>Be-cy</key>
  <string>B_e-cy.glif</string>
  <key>Che-cy</key>
  <string>C_he-cy.glif</string>
  <key>Cheabkhasian-cy</key>
  <string>C_heabkhasian-cy.glif</string>
  <key>Chedescender-cy</key>
  <string>C_hedescender-cy.glif</string>
  <key>De-cy</key>
  <string>D_e-cy.glif</string>
  <key>Dje-cy</key>
  <string>D_je-cy.glif</string>
  <key>Dzeabkhasian-cy</key>
  <string>D_zeabkhasian-cy.glif</string>
  <key>Dzhe-cy</key>
  <string>D_zhe-cy.glif</string>
  <key>Ef-cy</key>
  <string>E_f-cy.glif</string>
  <key>Ef-cy.loclBGR</key>
  <string>E_f-cy.loclB_G_R_.glif</string>
  <key>El-cy</key>
  <string>E_l-cy.glif</string>
  <key>Elhook-cy</key>
  <string>E_lhook-cy.glif</string>
  <key>Endescender-cy</key>
  <string>E_ndescender-cy.glif</string>
  <key>Enghe-cy</key>
  <string>E_nghe-cy.glif</string>
  <key>Ge-cy</key>
  <string>G_e-cy.glif</string>
  <key>Gestrokehook-cy</key>
  <string>G_estrokehook-cy.glif</string>
  <key>Ghemiddlehook-cy</key>
  <string>G_hemiddlehook-cy.glif</string>
  <key>Ghestroke-cy</key>
  <string>G_hestroke-cy.glif</string>
  <key>Gheupturn-cy</key>
  <string>G_heupturn-cy.glif</string>
  <key>Ha-cy</key>
  <string>H_a-cy.glif</string>
  <key>Haabkhasian-cy</key>
  <string>H_aabkhasian-cy.glif</string>
  <key>Hadescender-cy</key>
  <string>H_adescender-cy.glif</string>
  <key>Hahook-cy</key>
  <string>H_ahook-cy.glif</string>
  <key>Hardsign-cy</key>
  <string>H_ardsign-cy.glif</string>
  <key>Ia-cy</key>
  <string>I_a-cy.glif</string>
  <key>Ii-cy</key>
  <string>I_i-cy.glif</string>
  <key>Iu-cy</key>
  <string>I_u-cy.glif</string>
  <key>Izhitsa-cy</key>
  <string>I_zhitsa-cy.glif</string>
  <key>Ka-cy</key>
  <string>K_a-cy.glif</string>
  <key>Kabashkir-cy</key>
  <string>K_abashkir-cy.glif</string>
  <key>Kadescender-cy</key>
  <string>K_adescender-cy.glif</string>
  <key>Kahook-cy</key>
  <string>K_ahook-cy.glif</string>
  <key>Kaverticalstroke-cy</key>
  <string>K_averticalstroke-cy.glif</string>
  <key>Lje-cy</key>
  <string>L_je-cy.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Nje-cy</key>
  <string>N_je-cy.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>Pe-cy</key>
  <string>P_e-cy.glif</string>
  <key>Reversedze-cy</key>
  <string>R_eversedze-cy.glif</string>
  <key>Schwa-cy</key>
  <string>S_chwa-cy.glif</string>
  <key>Semisoftsign-cy</key>
  <string>S_emisoftsign-cy.glif</string>
  <key>Shha-cy</key>
  <string>S_hha-cy.glif</string>
  <key>Softsign-cy</key>
  <string>S_oftsign-cy.glif</string>
  <key>Tse-cy</key>
  <string>T_se-cy.glif</string>
  <key>Tshe-cy</key>
  <string>T_she-cy.glif</string>
  <key>U-cy</key>
  <string>U_-cy.glif</string>
  <key>We-cy</key>
  <string>W_e-cy.glif</string>
  <key>Yat-cy</key>
  <string>Y_at-cy.glif</string>
  <key>Yeru-cy</key>
  <string>Y_eru-cy.glif</string>
  <key>Yusbig-cy</key>
  <string>Y_usbig-cy.glif</string>
  <key>Ze-cy</key>
  <string>Z_e-cy.glif</string>
  <key>Zhe-cy</key>
  <string>Z_he-cy.glif</string>
  <key>Zhedescender-cy</key>
  <string>Z_hedescender-cy.glif</string>
  <key>acutecomb.loclVIET</key>
  <string>acutecomb.loclV_I_E_T_.glif</string>
  <key>be-cy</key>
  <string>be-cy.glif</string>
  <key>be-cy.loclSRB</key>
  <string>be-cy.loclS_R_B_.glif</string>
  <key>che-cy</key>
  <string>che-cy.glif</string>
  <key>cheabkhasian-cy</key>
  <string>cheabkhasian-cy.glif</string>
  <key>chekhakassian-cy</key>
  <string>chekhakassian-cy.glif</string>
  <key>de-cy</key>
  <string>de-cy.glif</string>
  <key>dje-cy</key>
  <string>dje-cy.glif</string>
  <key>dzeabkhasian-cy</key>
  <string>dzeabkhasian-cy.glif</string>
  <key>ef-cy</key>
  <string>ef-cy.glif</string>
  <key>el-cy</key>
  <string>el-cy.glif</string>
  <key>enghe-cy</key>
  <string>enghe-cy.glif</string>
  <key>enlefthook-cy</key>
  <string>enlefthook-cy.glif</string>
  <key>ereversed-cy</key>
  <string>ereversed-cy.glif</string>
  <key>esdescender-cy</key>
  <string>esdescender-cy.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.osf</key>
  <string>five.osf.glif</string>
  <key>ge-cy</key>
  <string>ge-cy.glif</string>
  <key>ge-cy.loclBGR</key>
  <string>ge-cy.loclB_G_R_.glif</string>
  <key>ghemiddlehook-cy</key>
  <string>ghemiddlehook-cy.glif</string>
  <key>haabkhasian-cy</key>
  <string>haabkhasian-cy.glif</string>
  <key>hahook-cy</key>
  <string>hahook-cy.glif</string>
  <key>hardsign-cy</key>
  <string>hardsign-cy.glif</string>
  <key>hardsign-cy.loclBGR</key>
  <string>hardsign-cy.loclB_G_R_.glif</string>
  <key>ia-cy</key>
  <string>ia-cy.glif</string>
  <key>ii-cy</key>
  <string>ii-cy.glif</string>
  <key>iishorttail-cy</key>
  <string>iishorttail-cy.glif</string>
  <key>iu-cy</key>
  <string>iu-cy.glif</string>
  <key>iu-cy.loclBGR</key>
  <string>iu-cy.loclB_G_R_.glif</string>
  <key>izhitsa-cy</key>
  <string>izhitsa-cy.glif</string>
  <key>ka-cy</key>
  <string>ka-cy.glif</string>
  <key>ka-cy.loclBGR</key>
  <string>ka-cy.loclB_G_R_.glif</string>
  <key>kabashkir-cy</key>
  <string>kabashkir-cy.glif</string>
  <key>kahook-cy</key>
  <string>kahook-cy.glif</string>
  <key>kastroke-cy</key>
  <string>kastroke-cy.glif</string>
  <key>kaverticalstroke-cy</key>
  <string>kaverticalstroke-cy.glif</string>
  <key>lje-cy</key>
  <string>lje-cy.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>nje-cy</key>
  <string>nje-cy.glif</string>
  <key>obarred-cy</key>
  <string>obarred-cy.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>pe-cy</key>
  <string>pe-cy.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>reversedze-cy</key>
  <string>reversedze-cy.glif</string>
  <key>ringcomb_acutecomb</key>
  <string>ringcomb_acutecomb.glif</string>
  <key>semisoftsign-cy</key>
  <string>semisoftsign-cy.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.osf</key>
  <string>seven.osf.glif</string>
  <key>sha-cy.loclBGR</key>
  <string>sha-cy.loclB_G_R_.glif</string>
  <key>shcha-cy</key>
  <string>shcha-cy.glif</string>
  <key>softsign-cy</key>
  <string>softsign-cy.glif</string>
  <key>softsign-cy.loclBGR</key>
  <string>softsign-cy.loclB_G_R_.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>tse-cy</key>
  <string>tse-cy.glif</string>
  <key>ustrait-cy</key>
  <string>ustrait-cy.glif</string>
  <key>ve-cy</key>
  <string>ve-cy.glif</string>
  <key>ve-cy.loclBGR</key>
  <string>ve-cy.loclB_G_R_.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>we-cy</key>
  <string>we-cy.glif</string>
  <key>yat-cy</key>
  <string>yat-cy.glif</string>
  <key>yeru-cy</key>
  <string>yeru-cy.glif</string>
  <key>yusbig-cy</key>
  <string>yusbig-cy.glif</string>
  <key>ze-cy</key>
  <string>ze-cy.glif</string>
  <key>ze-cy.loclBGR</key>
  <string>ze-cy.loclB_G_R_.glif</string>
  <key>zhe-cy</key>
  <string>zhe-cy.glif</string>
  <key>zhe-cy.loclBGR</key>
  <string>zhe-cy.loclB_G_R_.glif</string>
</dict>
</plist>
