<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>Ef-cy</key>
  <string>E_f-cy.glif</string>
  <key>Enghe-cy</key>
  <string>E_nghe-cy.glif</string>
  <key>Ereversed-cy</key>
  <string>E_reversed-cy.glif</string>
  <key>Ghestroke-cy</key>
  <string>G_hestroke-cy.glif</string>
  <key>Ia-cy</key>
  <string>I_a-cy.glif</string>
  <key>Iu-cy</key>
  <string>I_u-cy.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kadescender-cy</key>
  <string>K_adescender-cy.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.case</key>
  <string>acutecomb.case.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>caroncomb.alt</key>
  <string>caroncomb.alt.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>enghe-cy</key>
  <string>enghe-cy.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five.osf</key>
  <string>five.osf.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>ia-cy</key>
  <string>ia-cy.glif</string>
  <key>ii-cy</key>
  <string>ii-cy.glif</string>
  <key>iu-cy</key>
  <string>iu-cy.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.osf</key>
  <string>one.osf.glif</string>
  <key>peso</key>
  <string>peso.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>ringcomb_acutecomb</key>
  <string>ringcomb_acutecomb.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shcha-cy</key>
  <string>shcha-cy.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.osf</key>
  <string>three.osf.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>won</key>
  <string>won.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.osf</key>
  <string>zero.osf.glif</string>
  <key>zhedescender-cy</key>
  <string>zhedescender-cy.glif</string>
</dict>
</plist>
