<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Saltillo</key>
  <string>S_altillo.glif</string>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.case</key>
  <string>acutecomb.case.glif</string>
  <key>acutecomb.case.loclVIET</key>
  <string>acutecomb.case.loclV_I_E_T_.glif</string>
  <key>acutecomb.loclVIET</key>
  <string>acutecomb.loclV_I_E_T_.glif</string>
  <key>acutecomb_dotaccentcomb</key>
  <string>acutecomb_dotaccentcomb.glif</string>
  <key>acutecomb_macroncomb</key>
  <string>acutecomb_macroncomb.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>apostrophemod</key>
  <string>apostrophemod.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>at.case</key>
  <string>at.case.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb.case</key>
  <string>brevecomb.case.glif</string>
  <key>brevecomb.case.loclVIET</key>
  <string>brevecomb.case.loclV_I_E_T_.glif</string>
  <key>brevecomb.loclVIET</key>
  <string>brevecomb.loclV_I_E_T_.glif</string>
  <key>brevecomb_acutecomb</key>
  <string>brevecomb_acutecomb.glif</string>
  <key>brevecomb_acutecomb.case</key>
  <string>brevecomb_acutecomb.case.glif</string>
  <key>brevecomb_gravecomb</key>
  <string>brevecomb_gravecomb.glif</string>
  <key>brevecomb_gravecomb.case</key>
  <string>brevecomb_gravecomb.case.glif</string>
  <key>brevecomb_hookabovecomb</key>
  <string>brevecomb_hookabovecomb.glif</string>
  <key>brevecomb_hookabovecomb.case</key>
  <string>brevecomb_hookabovecomb.case.glif</string>
  <key>brevecomb_tildecomb</key>
  <string>brevecomb_tildecomb.glif</string>
  <key>brevecomb_tildecomb.case</key>
  <string>brevecomb_tildecomb.case.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>breveinvertedcomb.case</key>
  <string>breveinvertedcomb.case.glif</string>
  <key>breveinvertedcomb.narrow</key>
  <string>breveinvertedcomb.narrow.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caroncomb.alt</key>
  <string>caroncomb.alt.glif</string>
  <key>caroncomb.alt.short</key>
  <string>caroncomb.alt.short.glif</string>
  <key>caroncomb.case</key>
  <string>caroncomb.case.glif</string>
  <key>caroncomb.case.loclVIET</key>
  <string>caroncomb.case.loclV_I_E_T_.glif</string>
  <key>caroncomb.loclVIET</key>
  <string>caroncomb.loclV_I_E_T_.glif</string>
  <key>caroncomb_dotaccentcomb</key>
  <string>caroncomb_dotaccentcomb.glif</string>
  <key>cedi</key>
  <string>cedi.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cedillacomb.case</key>
  <string>cedillacomb.case.glif</string>
  <key>cedillacomb.sc</key>
  <string>cedillacomb.sc.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexcomb.case</key>
  <string>circumflexcomb.case.glif</string>
  <key>circumflexcomb.case.loclVIET</key>
  <string>circumflexcomb.case.loclV_I_E_T_.glif</string>
  <key>circumflexcomb.loclVIET</key>
  <string>circumflexcomb.loclV_I_E_T_.glif</string>
  <key>circumflexcomb_acutecomb</key>
  <string>circumflexcomb_acutecomb.glif</string>
  <key>circumflexcomb_acutecomb.case</key>
  <string>circumflexcomb_acutecomb.case.glif</string>
  <key>circumflexcomb_gravecomb</key>
  <string>circumflexcomb_gravecomb.glif</string>
  <key>circumflexcomb_gravecomb.case</key>
  <string>circumflexcomb_gravecomb.case.glif</string>
  <key>circumflexcomb_hookabovecomb</key>
  <string>circumflexcomb_hookabovecomb.glif</string>
  <key>circumflexcomb_hookabovecomb.case</key>
  <string>circumflexcomb_hookabovecomb.case.glif</string>
  <key>circumflexcomb_tildecomb</key>
  <string>circumflexcomb_tildecomb.glif</string>
  <key>circumflexcomb_tildecomb.case</key>
  <string>circumflexcomb_tildecomb.case.glif</string>
  <key>colonsign</key>
  <string>colonsign.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commaaccentcomb.alt</key>
  <string>commaaccentcomb.alt.glif</string>
  <key>commaturnedabovecomb</key>
  <string>commaturnedabovecomb.glif</string>
  <key>commaturnedmod</key>
  <string>commaturnedmod.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dblgravecomb</key>
  <string>dblgravecomb.glif</string>
  <key>dblgravecomb.case</key>
  <string>dblgravecomb.case.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dieresiscomb.case</key>
  <string>dieresiscomb.case.glif</string>
  <key>dieresiscomb.loclVIET</key>
  <string>dieresiscomb.loclV_I_E_T_.glif</string>
  <key>dieresiscomb.narrow</key>
  <string>dieresiscomb.narrow.glif</string>
  <key>dieresiscomb_acutecomb</key>
  <string>dieresiscomb_acutecomb.glif</string>
  <key>dieresiscomb_acutecomb.case</key>
  <string>dieresiscomb_acutecomb.case.glif</string>
  <key>dieresiscomb_gravecomb</key>
  <string>dieresiscomb_gravecomb.glif</string>
  <key>dieresiscomb_gravecomb.case</key>
  <string>dieresiscomb_gravecomb.case.glif</string>
  <key>dieresiscomb_macroncomb</key>
  <string>dieresiscomb_macroncomb.glif</string>
  <key>dieresiscomb_macroncomb.case</key>
  <string>dieresiscomb_macroncomb.case.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dong</key>
  <string>dong.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotaccentcomb.case</key>
  <string>dotaccentcomb.case.glif</string>
  <key>dotaccentcomb.loclVIET</key>
  <string>dotaccentcomb.loclV_I_E_T_.glif</string>
  <key>dotaccentcomb_macroncomb</key>
  <string>dotaccentcomb_macroncomb.glif</string>
  <key>dotaccentcomb_macroncomb.case</key>
  <string>dotaccentcomb_macroncomb.case.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dotbelowcomb.case</key>
  <string>dotbelowcomb.case.glif</string>
  <key>dotbelowcomb.loclVIET</key>
  <string>dotbelowcomb.loclV_I_E_T_.glif</string>
  <key>dotbelowcomb.sc</key>
  <string>dotbelowcomb.sc.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.dnom</key>
  <string>eight.dnom.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eight.sups</key>
  <string>eight.sups.glif</string>
  <key>eight.tf</key>
  <string>eight.tf.glif</string>
  <key>eight.tosf</key>
  <string>eight.tosf.glif</string>
  <key>emptyset</key>
  <string>emptyset.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>firsttonechinese</key>
  <string>firsttonechinese.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.dnom</key>
  <string>five.dnom.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>five.sups</key>
  <string>five.sups.glif</string>
  <key>five.tf</key>
  <string>five.tf.glif</string>
  <key>five.tosf</key>
  <string>five.tosf.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>four.sups</key>
  <string>four.sups.glif</string>
  <key>four.tf</key>
  <string>four.tf.glif</string>
  <key>four.tosf</key>
  <string>four.tosf.glif</string>
  <key>fourthtonechinese</key>
  <string>fourthtonechinese.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>gravecomb.case.loclVIET</key>
  <string>gravecomb.case.loclV_I_E_T_.glif</string>
  <key>gravecomb.loclVIET</key>
  <string>gravecomb.loclV_I_E_T_.glif</string>
  <key>gravecomb_macroncomb</key>
  <string>gravecomb_macroncomb.glif</string>
  <key>gravecomb_macroncomb.case</key>
  <string>gravecomb_macroncomb.case.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hookabovecomb</key>
  <string>hookabovecomb.glif</string>
  <key>hookabovecomb.case</key>
  <string>hookabovecomb.case.glif</string>
  <key>hookabovecomb.loclVIET</key>
  <string>hookabovecomb.loclV_I_E_T_.glif</string>
  <key>horncomb</key>
  <string>horncomb.glif</string>
  <key>horncomb.o</key>
  <string>horncomb.o.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hungarumlautcomb.case</key>
  <string>hungarumlautcomb.case.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>jdotless</key>
  <string>jdotless.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>kip</key>
  <string>kip.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lira</key>
  <string>lira.glif</string>
  <key>liraTurkish</key>
  <string>liraT_urkish.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macroncomb.case</key>
  <string>macroncomb.case.glif</string>
  <key>macroncomb.case.loclVIET</key>
  <string>macroncomb.case.loclV_I_E_T_.glif</string>
  <key>macroncomb.loclVIET</key>
  <string>macroncomb.loclV_I_E_T_.glif</string>
  <key>macroncomb.narrow</key>
  <string>macroncomb.narrow.glif</string>
  <key>macroncomb.narrow.case</key>
  <string>macroncomb.narrow.case.glif</string>
  <key>macroncomb_acutecomb</key>
  <string>macroncomb_acutecomb.glif</string>
  <key>macroncomb_acutecomb.case</key>
  <string>macroncomb_acutecomb.case.glif</string>
  <key>macroncomb_dieresiscomb</key>
  <string>macroncomb_dieresiscomb.glif</string>
  <key>macroncomb_dieresiscomb.case</key>
  <string>macroncomb_dieresiscomb.case.glif</string>
  <key>macroncomb_gravecomb</key>
  <string>macroncomb_gravecomb.glif</string>
  <key>macroncomb_gravecomb.case</key>
  <string>macroncomb_gravecomb.case.glif</string>
  <key>manat</key>
  <string>manat.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>naira</key>
  <string>naira.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.dnom</key>
  <string>nine.dnom.glif</string>
  <key>nine.osf</key>
  <string>nine.osf.glif</string>
  <key>nine.tf</key>
  <string>nine.tf.glif</string>
  <key>nine.tosf</key>
  <string>nine.tosf.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>ogonekcomb.curve</key>
  <string>ogonekcomb.curve.glif</string>
  <key>ogonekcomb.curve.sc</key>
  <string>ogonekcomb.curve.sc.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>one.sups</key>
  <string>one.sups.glif</string>
  <key>one.tf</key>
  <string>one.tf.glif</string>
  <key>one.tosf</key>
  <string>one.tosf.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.case</key>
  <string>parenleft.case.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.sc</key>
  <string>period.sc.glif</string>
  <key>peso</key>
  <string>peso.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question.sc</key>
  <string>question.sc.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb_acutecomb</key>
  <string>ringcomb_acutecomb.glif</string>
  <key>ringhalfleft</key>
  <string>ringhalfleft.glif</string>
  <key>ringhalfright</key>
  <string>ringhalfright.glif</string>
  <key>ruble</key>
  <string>ruble.glif</string>
  <key>rupeeIndian</key>
  <string>rupeeI_ndian.glif</string>
  <key>saltillo</key>
  <string>saltillo.glif</string>
  <key>secondtonechinese</key>
  <string>secondtonechinese.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.dnom</key>
  <string>seven.dnom.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>seven.sups</key>
  <string>seven.sups.glif</string>
  <key>seven.tf</key>
  <string>seven.tf.glif</string>
  <key>seven.tosf</key>
  <string>seven.tosf.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.dnom</key>
  <string>six.dnom.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>six.osf</key>
  <string>six.osf.glif</string>
  <key>six.sups</key>
  <string>six.sups.glif</string>
  <key>six.tf</key>
  <string>six.tf.glif</string>
  <key>six.tosf</key>
  <string>six.tosf.glif</string>
  <key>slashlongcomb</key>
  <string>slashlongcomb.glif</string>
  <key>slashshortcomb</key>
  <string>slashshortcomb.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>strokelongcomb</key>
  <string>strokelongcomb.glif</string>
  <key>strokeshortcomb</key>
  <string>strokeshortcomb.glif</string>
  <key>strokeshortcomb.narrow</key>
  <string>strokeshortcomb.narrow.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>three.sups</key>
  <string>three.sups.glif</string>
  <key>three.tf</key>
  <string>three.tf.glif</string>
  <key>three.tosf</key>
  <string>three.tosf.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildecomb.case.loclVIET</key>
  <string>tildecomb.case.loclV_I_E_T_.glif</string>
  <key>tildecomb.loclVIET</key>
  <string>tildecomb.loclV_I_E_T_.glif</string>
  <key>tildecomb.narrow</key>
  <string>tildecomb.narrow.glif</string>
  <key>tildecomb_acutecomb</key>
  <string>tildecomb_acutecomb.glif</string>
  <key>tildecomb_acutecomb.case</key>
  <string>tildecomb_acutecomb.case.glif</string>
  <key>tildecomb_dieresiscomb</key>
  <string>tildecomb_dieresiscomb.glif</string>
  <key>tildecomb_dieresiscomb.case</key>
  <string>tildecomb_dieresiscomb.case.glif</string>
  <key>tildecomb_macroncomb</key>
  <string>tildecomb_macroncomb.glif</string>
  <key>tildecomb_macroncomb.case</key>
  <string>tildecomb_macroncomb.case.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>two.sups</key>
  <string>two.sups.glif</string>
  <key>two.tf</key>
  <string>two.tf.glif</string>
  <key>two.tosf</key>
  <string>two.tosf.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>verticallinemod</key>
  <string>verticallinemod.glif</string>
  <key>won</key>
  <string>won.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zero.osf</key>
  <string>zero.osf.glif</string>
</dict>
</plist>
